.top {
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
  align-items: center;
}
.headings {
  padding-left: 20px;
  font-size: xx-large;
}

.flight-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rendered-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.rendered-wrapper.grid-mode {
  flex-direction: row;
}
.toggle-view {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 20px;
  width: auto;
  background-color: rgb(78, 79, 80);
  padding: 5px;
  border-radius: 30px;
}
.toggle-view div svg {
  margin-right: 10px;
  margin-left: 10px;
}
.toggle-view div:hover {
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  font-size: large;
}
.icons svg {
  color: gray;
  height: 30px;
  width: 30px;
}

.icons svg:hover {
  cursor: pointer;
  color: rgb(59, 59, 59);
}

.icons .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icons .disabled path {
  opacity: 0.5;
  cursor: not-allowed;
}

.result-quantity {
  margin-right: 30px;
  font-style: italic;
}
