.top {
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
  align-items: center;
}
.headings{
  padding-left: 20px;
}

.flight-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.rendered-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.rendered-wrapper.grid-mode {
  flex-direction: row;
}
.toggle-view{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 20px;
  width: auto;
  background-color: rgb(37, 131, 198);
  padding: 5px;
  border-radius: 30px;
}
.toggle-view div svg{
  margin-right: 10px;
  margin-left: 10px;
}
.toggle-view div:hover{
  cursor: pointer;
}