body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/philip-myrtorp-iiqpxCg2GD4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.heading {
  font-weight: 700;
  font-size: 70px;
}
.submit-button {
  padding: 7px 20px;
  font-size: 20px;
  border: none;
  background-color: rgb(51, 160, 41);
  color: white;
  font-weight: 700;
  border-radius: 20px;
  width: 15rem;
  margin-bottom: 40px;
}

.submit-button:hover {
  background-color: rgb(44, 78, 41);
  -webkit-box-shadow: 0px 14px 5px -7px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 14px 5px -7px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 14px 5px -7px rgba(0, 0, 0, 0.33);
  cursor: pointer;
}

.submit-wrapper-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.input {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 10px 5px -7px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 10px 5px -7px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 5px -7px rgba(0, 0, 0, 0.33);
}

.content {
  background-color: rgba(236, 236, 236, 0.678);
  padding: 30px 30px;
  border-radius: 30px;
  -webkit-box-shadow: 14px 14px 5px -7px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 14px 14px 5px -7px rgba(0, 0, 0, 0.33);
  box-shadow: 14px 14px 5px -7px rgba(0, 0, 0, 0.33);
}

h1 {
  text-align: center;
}

.sub-text:hover {
  cursor: pointer;
}
